{# templates/add-user/account-not-created-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    <p class="bad">Utworzenie konta użytkownika nie powiodło się.</p>
{% endblock %}
