{# templates/add-user/account-activation-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    {% if userActive %}
        <p class="ok">Konto użytkownika zostało aktywowane.</p>
    {% else %}
        <p class="bad">Aktywacja konta użytkownika nie powiodła się.</p>
    {% endif %}
{% endblock %}
