{# templates/add-user/code-not-valid-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    <p class="bad">Podany kod aktywacyjny jest niepoprawny.</p>
{% endblock %}
