{# templates/user-help/user-help.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Pomoc{% endblock %}

{% block record %}
    <h2>Pomoc</h2>
    <p>Celem portalu jest promowanie stron uczestników systemu. Polega to na klikaniu w przycisk „Pokaż” w prawym, górnym narożniku strony. Pojawiają się wówczas strony innych uczestników systemu. Im więcej kliknięć w przycisk „Pokaż”, tym w zamian więcej wyświetleń stron klikającego użytkownika u innych. Ilość kliknięć ograniczona jest do ilości wszystkich stron w systemie. Dlatego zachęcamy, aby namawiać do korzystania z systemu znajomych. Im więcej jest aktywnych uczestników systemu, tym większe osiągane korzyści.</p>
    <p>Aby zarobić na uczestnictwie w systemie, wystarczy umieścić banery reklamowe na stronie. Może to być dowolny Program Partnerski (np. Google AdSense). Wówczas użytkownik systemu zarabia, gdy odwiedzający jego stronę dokonają zakupu bądź po prostu klikną w baner reklamowy. Sposób zarabiania jest zależny od sposobu funkcjonowania danego Programu Partnerskiego.</p>
    <p>W praktyce ludzie klikają w maksymalnie 10% pojawiających się banerów reklamowych. Im większa trafność banera, tym więcej jest kliknięć. Jednocześnie ostrzega się, iż niektóre Programy Partnerskie (np. Google AdSense) zabraniają klikania we własne banery bądź namawiania do klikania innych użytkowników internetu. Dlatego my też nie namawiamy, a jedynie informujemy o tym stanie rzeczy. Szacowane zarobki w złotych są równe średniej ilości wyświetleń strony na dzień przez miesiąc. I tak 1000 wyświetleń strony dziennie przez miesiąc daje około 1000 zł przychodu.</p>
    <p>Nie jest konieczne posiadanie własnej domeny i hostingu. Można stworzyć darmowego bloga (np. Blogger.com), umieścić na nim wartościowe treści i dodać banery reklamowe. Następnie zarejestrować się na tym portalu i dodać stronę do systemu. Potem klikać w przycisk „Pokaż”, aby w zamian strona wyświetlała się innym uczestnikom systemu.</p>
{% endblock %}
