{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    {% if siteData %}
        <p class="ok">Dane strony www zostały zapisane.</p>
    {% else %}
        <p class="bad">Zapisanie danych strony www nie powiodło się.</p>
    {% endif %}
{% endblock %}
