{# templates/show-info/show-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url('main_page') }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ url('main_page') }}css/rwd.css" />
{% endblock %}

{% block title %}Informacja{% endblock %}

{% block menu %}{% endblock %}

{% block header %}{% endblock %}

{% block slider %}{% endblock %}

{% block record %}
    <p class="info">Osiągnięto maksymalną liczbę możliwych do wykonania wyświetleń stron innych użytkowników systemu. Jest ona równa ilości aktywnych stron w portalu. Dalsze odsłony stron nie będą możliwe, dopóki inni użytkownicy systemu nie odwiedzą Państwa stron. Doradzamy zajrzeć tu ponownie dopiero jutro.</p>
{% endblock %}

{% block bottombar %}{% endblock %}

{% block footer %}{% endblock %}

{% block javascript %}{% endblock %}
