{# templates/user-privacy/user-privacy.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Prywatność{% endblock %}

{% block record %}
    <h2>Prywatność</h2>
    <p>Serwis ściśle przestrzega Ustawy o Ochronie Danych Osobowych. Dane są gromadzone i przetwarzane wyłącznie w celach określonych regulaminem. Dane osobowe nie są udostępniane innym podmiotom z wyjątkiem sytuacji, które są określone regulaminem. Użytkownik ma możliwość wglądu i edycji swoich danych osobowych. Gdy użytkownik wyrazi życzenie, aby zakończyć współpracę z serwisem, następuje natychmiastowe zaprzestanie przetwarzania danych osobowych.</p>
    <p>Serwis wykorzystuje ciasteczka (cookies). Są to niewielkie pliki tekstowe zapisywane przez serwer na komputerze użytkownika serwisu. Są one wykorzystywane do prawidłowego wyświetlania reklam na stronie oraz poprawnego działania systemu logowania. Pliki te nie przechowują żadnych danych poufnych poza loginem i zakodowanym hasłem użytkownika, które są wymagane do prawidłowego logowania. Korzystanie z ciasteczek nie oznacza odtajnienia danych osobowych ani żadnych informacji poufnych z komputera użytkownika. Użytkownik ma w każdej chwili możliwość zablokowania ciasteczek w ustawieniach przeglądarki stron internetowych. Pliki ciasteczek mogą być również wykorzystywane przez współpracujących z serwisem reklamodawców oraz partnerów. Właściciel serwisu nie bierze odpowiedzialności za zawartość plików ciasteczek wysyłanych przez inne strony internetowe, do których linki są umieszczone w serwisie.</p>
{% endblock %}
