{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set activeMenu = 'add-user' %}

{% block title %}Informacja{% endblock %}

{% block fos_user_content %}
    <h2>Informacja</h2>
    <p class="ok">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
        <!--<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>-->
    {% endif %}
{% endblock fos_user_content %}
