{# templates/login-user/account-not-active-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    {% if password is not defined %}
        <p class="bad">Konto użytkownika nie jest aktywne.</p>
    {% else %}
        {% if password %}
            {% if activationEmail %}
                <p class="bad">
                    Konto o podanym loginie i haśle nie jest aktywne.<br />
                    Sprawdź pocztę w celu aktywacji konta.
                </p>
            {% else %}
                <p class="bad">
                    Konto o podanym loginie i haśle nie jest aktywne.<br />
                    Wysłanie e-mail'a aktywacyjnego nie powiodło się.
                </p>
            {% endif %}
        {% else %}
            {% if activationEmail %}
                <p class="bad">
                    Konto o podanym loginie nie jest aktywne.<br />
                    Sprawdź pocztę w celu aktywacji konta.
                </p>
            {% else %}
                <p class="bad">
                    Konto o podanym loginie nie jest aktywne.<br />
                    Wysłanie e-mail'a aktywacyjnego nie powiodło się.
                </p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
