{# templates/login-user/password-not-changed-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    <p class="bad">Zmiana hasła konta użytkownika nie powiodła się.</p>
{% endblock %}
