{# templates/login-user/password-changed-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    {% if newPasswordEmail %}
        <p class="ok">
            Hasło konta użytkownika zostało zmienione.<br />
            Sprawdź pocztę w celu zapoznania z hasłem.
        </p>
    {% else %}
        <p class="bad">
            Hasło konta użytkownika zostało zmienione.<br />
            Wysłanie e-mail'a z hasłem nie powiodło się.
        </p>
    {% endif %}
{% endblock %}
