<h3>Aktywacja konta {{ user.username }}</h3>

Aby aktywować konto, otwórz w oknie przeglądarki url poniżej.<br />
<br />
<a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a><br />
<br />
--<br />
SIECIQ
