<h3>Resetowanie hasła konta {{ user.username }}</h3>

Aby zresetować hasło konta, otwórz w oknie przeglądarki url poniżej.<br />
<br />
<a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a><br />
<br />
--<br />
SIECIQ
