{# templates/user-account/site-added-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    <p class="ok">Strona www została dodana i oczekuje na akceptację.</p>
{% endblock %}
