.jssorshadow {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    inset 0 2px 2px 0 rgba(50, 50, 50, 0.35);
    box-shadow:         inset 0 2px 2px 0 rgba(50, 50, 50, 0.35);
}

.jssorloader, .jssorslider {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    margin-top: -5px;
    margin-bottom: 0;
}

.jssorloader {
    max-width: 1280px;
    height: 410px;
    background: #FFFFFF;
}

.jssorslider, .jssorload, .jssorslide {
    width: 1280px;
    height: 410px;
    overflow: hidden;
}

.jssorslider {
    display: none;
}

.jssorload, .jssorslide {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
}

.jssorload {
    margin-top: 0;
    background: #FFFFFF url(img/load.gif) no-repeat center center;
}

.jssornavigator {
    position: absolute;
    top: 15px;
    right: 20px;
}

.jssornavigator div, .jssornavigator div:hover, .jssornavigator .av {
    width: 12px;
    height: 12px;
    border: 1px solid #FFFFFF;
    overflow: hidden;
    opacity: 0.7;
    cursor: pointer;
}

.jssornavigator div {
    background: #D3D3D3;
}

.jssornavigator div:hover, .jssornavigator .av:hover {
    background: #808080;
}

.jssornavigator .av {
    background: #000000;
}

.jssornavigator .dn, .jssornavigator .dn:hover {
    background: #A9A9A9;
}

.jssorarrowleft, .jssorarrowright {
    position: absolute;
    top: 180px;
    width: 30px;
    height: 50px;
    background: url(img/arrow.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorarrowleft {
    left: 0;
    background-position: -15px -35px;
}

.jssorarrowleft:hover {
    background-position: -135px -35px;
}

.jssorarrowleft.jssorarrowleftdn {
    background-position: -255px -35px;
}

.jssorarrowright {
    right: 0;
    background-position: -75px -35px;
}

.jssorarrowright:hover {
    background-position: -195px -35px;
}

.jssorarrowright.jssorarrowrightdn {
    background-position: -315px -35px;
}
