{# templates/contact-form/send-message-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    {% if contactEmail %}
        <p class="ok">Wiadomość została wysłana.</p>
    {% else %}
        <p class="bad">Wysłanie wiadomości nie powiodło się.</p>
    {% endif %}
{% endblock %}
