{# templates/user-regulation/user-regulation.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Regulamin{% endblock %}

{% block record %}
    <h2>Regulamin (17.01.2018)</h2>
    <ol>
        <li>Przez dokonanie rejestracji użytkownik wyraża zgodę na przetwarzanie swoich danych osobowych. Podane dane osobowe mogą zostać użyte w celu komunikacji z użytkownikiem. Inni użytkownicy systemu nie mają dostępu do tych danych. Dostęp do danych ma wyłącznie administracja systemu.</li>
        <li>Właściciel serwisu nie ponosi odpowiedzialności za publikowane przez użytkownika treści. Całą odpowiedzialność ponosi użytkownik. Treści dodawanych stron użytkownika nie mogą naruszać w jakikolwiek sposób prawa oraz godności osób trzecich. Niedopuszczalne jest dodawanie stron o charakterze erotycznym.</li>
        <li>Właściciel serwisu nie ponosi odpowiedzialności za jakiekolwiek straty materialne wynikające z użytkowania systemu. Jednocześnie informuje się, iż serwis został stworzony z maksymalną starannością o spełnienie wszelkich wymogów bezpieczeństwa przechowywanych danych.</li>
        <li>Strony z blokadą wyświetlania w iframe nie będą akceptowane. Zwłaszcza dotyczy to profili na portalach społecznościowych (np. Google+, Facebook, Twitter, Instagram, itp.).</li>
    </ol>
{% endblock %}
