{# templates/main-page/main-page.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}SIECIQ - Sieć reklamowa dla Państwa stron{% endblock %}

{% block record %}
    <h2>Sieć reklamowa</h2>
    <p>Portal SIECIQ to sieć reklamowa dla Państwa stron. Po rejestracji w systemie mogą Państwo dodawać swoje witryny. W prawym, górnym rogu ekranu znajduje się przycisk „Pokaż”. Pozwala on wyświetlać strony pozostałych członków systemu. W zamian Państwa witryny wyświetlają się innym. Liczba odsłon Państwa witryn jest ograniczona jedynie ilością wszystkich stron w systemie. Nie można kliknąć przycisku „Pokaż” więcej razy, niż wynosi suma wszystkich witryn w portalu. W menu znajdą Państwo wskazówki, jak stworzyć i dodać stronę do systemu.</p>
    <p>Zachęcamy do polubienia naszego <a href="https://www.facebook.com/SIECIQ/">profilu na Facebook'u</a> i podzielenia się wiedzą o portalu ze znajomymi. Im więcej członków w systemie, tym większa ilość odsłon Państwa stron.</p>
{% endblock %}
