{# templates/edit-user/data-not-saved-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    <p class="bad">Zapisanie danych użytkownika nie powiodło się.</p>
{% endblock %}
