{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    <p class="{% if newEmail and not activationEmail %}bad{% else %}ok{% endif %}">
        Dane użytkownika zostały zapisane.<br />
        {% if newPassword %}
            Hasło użytkownika zostało zapisane.<br />
        {% endif %}
        {% if newEmail %}
            E-mail użytkownika został zapisany.<br />
            {% if activationEmail %}
                Sprawdź pocztę w celu aktywacji konta.
            {% else %}
                Wysłanie e-mail'a aktywacyjnego nie powiodło się.
            {% endif %}
        {% endif %}
    </p>
{% endblock %}
