{# templates/edit-user/record-stopped-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    <p class="bad">Powstrzymano próbę zapisu danych z innego konta.</p>
{% endblock %}
