{# templates/accept-site/data-not-deleted-info.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    <p class="bad">Usunięcie danych strony www nie powiodło się.</p>
{% endblock %}
