{% extends 'layout.html.twig' %}

{% block title %}Informacja{% endblock %}

{% block record %}
    <h2>Informacja</h2>
    <p class="{% if not acceptationEmail %}bad{% else %}ok{% endif %}">
        Strona www została odrzucona.<br />
        Dane strony www zostały usunięte.<br />
        {% if acceptationEmail %}
            E-mail akceptacyjny został wysłany.
        {% else %}
            Wysłanie e-mail'a akceptacyjnego nie powiodło się.
        {% endif %}
    </p>
{% endblock %}
