{% extends 'base.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block stylesheet %}
    <meta name="robots" content="noindex, nofollow" />
    <style type="text/css">
        body {
            margin: 30px;
            padding: 0px;
            border: 0px;
            background: #FFFFFF;
        }

        h1, a, p {
            width: auto;
            height: auto;
            margin: 0px;
            padding: 0px;
            border: 0px;
            background: transparent;
            color: #000000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            line-height: 22px;
            letter-spacing: 0px;
        }

        h1, h1 a {
            margin-bottom: 6px;
            font-size: 40px;
            line-height: 38px;
        }

        a:hover {
            color: #FF0000;
        }

        p {
            margin-bottom: 4px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>ERROR</h1>
    <p><a href="{{ url('main_page') }}">Back to the main page</a></p>
{% endblock %}
