{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'error.html.twig' %}

{% block title %}ERROR 403{% endblock %}

{% block body %}
    <h1>ERROR 403</h1>
    <p><a href="/">Back to the main page</a></p>
{% endblock %}
